.border-green{
    border-color: lightgreen !important;
}

.border-seagreen{
    border-color: lightseagreen !important;
}

.border-yellow{
    border-color: gold !important;
}

.border-blue{
    border-color: lightskyblue !important;
}

.border-coral{
    border-color: lightcoral !important;
}

.border-pink{
    border-color: hotpink !important;
}