.border-green{
    border-color: lightgreen !important;
}

.border-seagreen{
    border-color: lightseagreen !important;
}

.border-violet{
    border-color: blueviolet !important;
}

.border-lightsalmon{
    border-color: lightsalmon !important;
}

.border-yellow{
    border-color: gold !important;
}

.border-olive{
    border-color: olive !important;
}

.border-blue{
    border-color: lightskyblue !important;
}

.border-coral{
    border-color: lightcoral !important;
}

.border-pink{
    border-color: hotpink !important;
}

.border-lime{
    border-color: lime !important;
}